*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(to right, white, #4facfe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 90%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 0;
}

.card{
    width: 320px;
    min-height: 420px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s ease;
}


.card img{
    width: 100%;
    height: 220px;  
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3{
    font-size: 22px;  
    margin-bottom: 10px;
}

.card p{
    font-size: 16px;
    margin-bottom: 8px;
}